body {
  margin: 0;
  background: #020202;
  cursor: crosshair;
}
canvas{display:block}
h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 4em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
  margin-top: 50%;
  text-align: center;
}

.birthday span {
  text-shadow: 0 0 5px #fff,
  0 0 10px #ffd700,
  0 0 20px #ffa500,
  0 0 30px #ff8c00;
  animation: glow 1s ease-in-out infinite;
}
@keyframes glow {
  from {text-shadow: 0 0 5px #ffffff;}
  
}
